{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <a class="btn btn-info btn-lg m-5" href="/create" role="button">CREATE NEW TASK</a>
        <div class="row">
            <div class="col-sm-9">
                Task Matrix
                {% for category in categories %}
                    <div class="card mb-3">
                        <div class="card-header">{{ category }}</div>
                        <div class="card-body">
                            {% for post in posts_by_category[category] %}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h2 class="card-title">{{ post.title }}</h2>
                                        <h3 class="card-title">{{ post.detail }}</h3>
                                        <p>deadline：{{ post.due.date() }}</p>
                                        <a class="btn btn-secondary btn-sm" href="/detail/{{ post.id }}" role="button">Detail</a>
                                        <a class="btn btn-success btn-sm" href="/update/{{ post.id }}" role="button">Update</a>
                                        <a class="btn btn-danger btn-sm" href="/delete/{{ post.id }}" role="button">Delete</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}